<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <h1>Sign In</h1>
    <form name="login">
      Email:<br>
      <input type="text" name="email" placeholder="email">
      <br>
      Password:<br>
      <input type="text" name="password" placeholder="password">
      <br>
      <input type="submit" value="Submit">
      <input type="reset" value="Clear">
    </form>
    <script>
      function validateForm(){
        var un = document.loginform.email.value
        var pw = document.loginform.pword.value
        var username = users.email
        var password = users.password
        if ((un == username) && (pw == password)) {
          return true
          window.location.href = "user.ejs"
        } else {
          alert("login was not successful, please check your username and password")
          return false
        }
      }
    </script>
  </body>
</html>