<!DOCTYPE html>
<html>
  <head>
    <title>
    Sign Up
    </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <h1>Sign Up</h1>

    <form method="post">
      Name:<br>
      <input type="text" name="name">
      <br>
      Email:<br>
      <input type="text" name="email">
      <br>
      Password:<br>
      <input type="text" name="password">
      <br>
      <input type="submit" name="submit">
    </form>

  </body>
</html>